server:
  servlet:
    context-path: /management-api
  port: 9013

spring:
  datasource:
    url: jdbc:h2:mem:management
    username: admin
    password: admin
    driverClassName: org.h2.Driver
  flyway:
    enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
        ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  h2:
    console:
      path: /h2-console
      enabled: true

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG